doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/images/shopping.png", type="image/x-icon")
        link(rel="stylesheet" href="/styles/global.css")
        title= title
    body
        .container
            include ../components/_navbar
            main.px-4(class="min-h-[calc(100vh-196px)]")
                block content
            include ../components/_footer
script(src="/js/theme.js")